@use '../abstracts/variables' as var;

@media (max-width: 768px) {
    #quisuisje {
        .skills {
            .svg {
                flex-wrap: wrap;
            }
        }
    }

    #projets {
        .cards {
            display: flex;
            flex-wrap: wrap;

            .bg3 {
                p {
                    margin-bottom: 1.2rem;
                }
            }

            .green-earth {
                img {
                    width: 100%;
                }
            }
        }
    }

    #contact {
        .container {
            gap: 0;
            display: flex;
            flex-direction: column;
        }
    }
}




@media (max-width: 375px) {}