@use '../abstracts/variables' as var;

@media (max-width: 768px) {
    header {
        .classic-menu {
            display: none !important;
        }
    }
    #quisuisje {
        .skills {
            .svg {
                flex-wrap: wrap;
            }
        }
    }

    #projets {
        .cards {
            display: flex;
            flex-wrap: wrap;

            .bg3 {
                p {
                    margin-bottom: 1.2rem;
                }
            }

            .green-earth {
                img {
                    width: 100%;
                }
            }
        }
    }

    #contact {
        .container {
            gap: 0;
            display: flex;
            flex-direction: column;
        }
    }
}




@media (max-width: 375px) {
    header {
        .classic-menu {
            display: none !important;
        }
    }

    #projets {
        .cards {
            display: flex;
            flex-direction: column;

            .card {
                width: 100%;
            }
        }
    }

    #quisuisje {
        .container {
            display: flex;
            flex-direction: column;
        }
    }

    footer {
        .container {
            display: flex;
            flex-direction: column;

            .navigation {
                margin-right: 0 !important;
            }
        }
    }
}