@use '../abstracts/variables' as var;

.cards {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 35%;
        background-color: var.$grey;
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
        height: 40vh;

        .card-img {
            img {
                height: 20vh;
            }
        }

        .card-content {
            color: var.$white;
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            margin-right: 3%;
            gap: 2vh;

            h3 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}