@use '../abstracts/variables' as var;

#contact {
    font-family: var.$police-principale;
    color: var.$white;
    background-color: var.$grey;
    padding-bottom: 5vh;

    h2 {
        margin: 0;
        padding: 5vh 0;
        text-align: center;
        font-size: 2rem;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 1vh;

        img {
            object-fit: cover;
            max-width: 100%;
            width: 50%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .formulaire {
            display: flex;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-bottom: 4vh;

                .names {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    label {
                        color: var.$green;
                    }

                    #name {
                        padding: 1vh;
                        border-radius: 0.5rem;
                    }

                    input::placeholder {
                        font-weight: bold;
                        color: grey;
                    }
                }

                .mail {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    label {
                        color: var.$green;
                    }

                    #coordo {
                        padding: 1vh;
                        border-radius: 0.5rem;
                    }

                    input::placeholder {
                        font-weight: bold;
                        color: grey;
                    }
                }

                .object {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    label {
                        color: var.$green;
                    }

                    #objet {
                        padding: 1vh;
                        border-radius: 0.5rem;
                    }

                    input::placeholder {
                        font-weight: bold;
                        color: grey;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    label {
                        color: var.$green;
                    }

                    textarea {
                        resize: none;
                        font-family: var.$police-principale;
                        color: grey;
                        font-weight: bold;
                        border-radius: 0.5rem;
                        padding: 2%;
                    }
                }
            }


            .btn {
                width: 50vh;
                text-align: center;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

        }
    }
}