@use '../abstracts/variables' as var;

header {
    font-family: var.$police-principale;
    background-color: var.$green;

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5% 0;
        gap: 5rem;

        img {
            height: 12vh;
        }

        .nav-text {
            display: flex;
            gap: 100px;

            li {
                a {
                    display: inline-block;
                    color: var.$black;
                    font-size: 1.5rem;
                }

                a:hover {
                    text-decoration: underline;
                    text-decoration-color: var.$white;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 0.3rem;
                }
            }
        }
    }
}