@use '../abstracts/variables' as var;

#hero {
  background-image: url(../img/hero.jpg);
  background-position: 25% 25%;
  background-size: cover;
  color: var.$white;
  font-family: var.$police-principale;
  padding: 60px 0;
  height: 110vh;
  
  .container {
    display:flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
    align-items: flex-start;

    h1 {
      font-size: 3rem;
      margin-top: 12vh;
    }

    .btn {
        padding: 1.2rem;
    }
  }
}
