@use '../abstracts/variables' as var;

#quisuisje {
    background-color: var.$grey;
    font-family: var.$police-principale;

    h2 {
        margin: 0;
        font-size: 2rem;
        color: var.$white;
        text-align: center;
        padding: 5vh 0;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 50px;
        max-width: 1400px;

        img {
            width: 65%;
            height: 500px;
            @media (max-width: 768px) {
                height: 600px;
            }
            @media (max-width: 375px) {
                width: 100%;
                height: 200px;
            }
        }

        .presentation {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: center;
            @media (max-width: 768px) {
                gap: 1rem;
            }

            p {
                font-size: 1.2rem;
                color: var.$white;
                margin: 0;

                span {
                    color: var.$green;
                }
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        h2 {
            padding: 0;
            padding-top: 5vh;
        }
        h3 {
            text-align: center;
            color: var.$white;
            margin-bottom: 2vh;
        }

        .svg {
            display: flex;
            justify-content: center;
            gap: 3rem;
            @media (max-width: 375px) {
                gap: 1rem;
            }
            text-align: center;

            p {
                color: var.$white;
                font-size: 1.5rem;
            }
        }
    }
}